.app-header {
  display: flex;
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  position: fixed;
  z-index: 10;
  max-width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
}
.app-header .header-blog-name {
  padding: 0 40px;
}
.app-header .header-blog-name .panda-icon svg {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}
.app-header .header-blog-name .blog-name {
  font-size: 20px;
  text-align: center;
  padding-left: 20px;
}
.app-header #search-box {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 250px;
  height: 25px;
  line-height: 25px;
  margin: 20px 0px;
  padding: 15px 8px;
  border-left: 2px solid #ebedf0;
}
.app-header #search-box .search-icon {
  color: #ced4d9;
  position: relative;
  top: 0.5px;
  cursor: pointer;
}
.app-header #search-box .search-input {
  font-size: 14px;
  width: 200px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.app-header #search-box .search-input::placeholder {
  color: #a3b1bf;
}
.app-header .header-nav {
  display: flex;
  border: 0;
  font-size: 14px;
  font-variant: tabular-nums;
}
.app-header .header-nav .nav-menu-item {
  margin: 10px 0;
}
.app-header .header-userInfo {
  padding: 0 20px 0 16px;
}
.app-header .header-userInfo button {
  margin: 0 8px;
}
