.container-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 60px;
  padding: 30px 0;
  background-color: #fff;
}
.container-box .app-sidebar {
  width: 300px;
  min-width: 300px;
}
.container-box .main-container {
  flex-grow: 1;
  margin: 0 20px;
}
